{
  "presets": [
    "stage-2",
    "react",
    "es2015"
  ],
  "passPerPreset": true,
  "plugins": [
    ["metalog", {
      "strip": false,
      "extraLabels": [
        "errorRefs",
        "warnRefs",
        "infoRefs",
        "debugRefs",
        "traceRefs",
        "notif",
        "errorNotif",
        "warnNotif",
        "infoNotif",
        "debugNotif",
        "traceNotif"
      ]
    }],
    "syntax-flow",
    ["tcomb", {
      "skipAsserts": true,
      "globals": [
        {"Class": true}
      ]
    }],
    "transform-export-extensions",
    "transform-flow-strip-types"
  ]
}