{
  "passPerPreset": true,
  
  "presets": [
    "stage-2",
    "react",
    "es2015"
  ],
  
  "sourceMaps": true,
  
  "env": {
    "development": {
      "plugins": [
        ["metalog", {
          "strip": {
            "labels": {
              "trace": false
            }
          },
          "extraLabels": [
            "errorRefs",
            "warnRefs",
            "infoRefs",
            "debugRefs",
            "traceRefs",
            "notif",
            "errorNotif",
            "warnNotif",
            "infoNotif",
            "debugNotif",
            "traceNotif"
          ]
        }],
        "syntax-flow",
        "transform-export-extensions",
        ["module-resolver", {
          "alias": {
            "/": ".",
            "nrser/lib": "./lib",
            "nrser": "./lib"
          },
          "cwd": "babelrc"
        }],
        ["tcomb", {
          "skipAsserts": true
        }],
        "transform-flow-strip-types"
      ]
    },
    
    "test": {
      "plugins": [
        ["metalog", {
          "strip": {
            "labels": {
              "trace": false
            }
          },
          "extraLabels": [
            "errorRefs",
            "warnRefs",
            "infoRefs",
            "debugRefs",
            "traceRefs",
            "notif",
            "errorNotif",
            "warnNotif",
            "infoNotif",
            "debugNotif",
            "traceNotif",
            "event"
          ]
        }],
        "syntax-flow",
        "transform-export-extensions",
        ["module-resolver", {
          "alias": {
            "/": ".",
            "nrser/lib": "./lib",
            "nrser": "./lib"
          },
          "cwd": "babelrc"
        }],
        ["tcomb", {
          "skipAsserts": true
        }],
        "transform-flow-strip-types"
      ]
    },
  
    "production": {
      "plugins": [
        ["metalog", {
          "strip": {
            "labels": {
              "debug": true,
              "trace": true,
              "debugRefs": true,
              "traceRefs": true,
              "notif": true,
              "debugNotif": true,
              "traceNotif": true
            }
          },
          "extraLabels": [
            "errorRefs",
            "warnRefs",
            "infoRefs",
            "debugRefs",
            "traceRefs",
            "notif",
            "errorNotif",
            "warnNotif",
            "infoNotif",
            "debugNotif",
            "traceNotif"
          ]
        }],
        "syntax-flow",
        "transform-export-extensions",
        ["module-resolver", {
          "alias": {
            "/": ".",
            "nrser/lib": "./lib",
            "nrser": "./lib"
          },
          "cwd": "babelrc"
        }],
        ["tcomb", {
          "skipAsserts": true
        }],
        "transform-flow-strip-types"
      ]
    }
  }
}