# omit development stuff
/dev

# omit the docs - they're too big and heavy
/doc

# omit tests - pull the source if you want to run them
/test

# obviously don't need temp files
/tmp

# babel
/.babelrc
/config/getBabelOptions.js

# flow
/.flowconfig

# git
.git*

# esdoc
/.esdoc.json
/config/esdoc.js

# gulp
/gulpfile.js
/gulpfile.babel.js

# ugh
/ugh.js
/ugh.babel.js

# QB
.qb-options.yml
.qb-playbook.yml
.qb-playbook.retry

# yarn
/yarn.lock

# Node version
/.node-version
